html, body {
	height: 100%;
}

body {
	padding: 65px 0 0 0;
	font-family: 'Roboto Slab', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}


/* datepicker in foreground so it is displayed infront of modals */
.datepicker {
	z-index: 1060;
}

#tracking-time {
	margin: 5px 15px;
	color: #fff;
	font-size: 2em;
}

/*
.navmenu {
	padding-top: 50px;
}

.navbar {
	display: block;
	text-align: center;
}
.navbar-brand {
	display: inline-block;
	float: none;
}
.navbar-toggle {
	position: absolute;
	float: left;
	margin-left: 15px;
}

.container {
	max-width: 100%;
}

@media (min-width: 1px) {

	.navbar-toggle {
		display: block !important;
	}
}

@media (min-width: 992px) {

	body {
		padding: 0 0 0 300px;
	}
  
	.navmenu {
		padding-top: 0;
	}
  
	.navbar {
		display: none !important;
	}
}*/