/* * * * * * * * * * * * * * * * * * * * * *
 * 										   *
 * TimeTrackTool						   *
 * 										   *
 * 2014 (c) Marvin Botens, Stephan Giesau  *
 * 										   *
 * * * * * * * * * * * * * * * * * * * * * */


/**
 * Basic styling
 */

html, body {
	height: 100%;
}

body {
	padding: 70px 0 0 0;
	font-family: 'Roboto Slab', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

button {
	outline: 0 !important;
}


/**
 * Customizations
 */
 
.well {
	border-radius: 0;
	box-shadow: none;
}
 
.navbar {
	border-bottom: 5px solid rgb(66, 139, 202);
}

/* datepicker in foreground so it is displayed infront of modals */
.datepicker {
	z-index: 1060;
}

#tracking-time {
	width: 80px;
	margin: 5px 15px;
	color: #fff;
	font-size: 2em;
}


/**
 * day overview styles
 */

.overview-day-wrapper {
	padding: 5px 8px;
}
#overview-day-info {
	width: auto;
}
#overview-day-periods input {
	width: 60px;
}
#overview-day-periods input[disabled],
#overview-day-info[disabled] {
	height: auto;
	margin: 0;
	padding: 0 0.5em;
	border: 0 none;
	box-shadow: none;
	cursor:default;
	background-color: transparent;
}


/**
 * weekly overview styles
 */

/* correct borders for week overview table */
#overview-week {
	border-width: 0 1px 0 0 !important;
}
#overview-week th:first-child,
#overview-week td:first-child {

	border: 0 none !important;
}
#overview-week thead th {
	border-top: 1px solid #ddd;
	text-align: center;
}

/* day type dropdown */
#overview-week thead td {
	padding: 0;
}
#overview-week thead td select {
	display: block;
	width: 100%;
	border: 0;
	text-align: center;
}

/* working period block */
#overview-week tbody td {
	position: relative;
	cursor: pointer;
}
#overview-week tbody td[data-timestamp="false"] {
	cursor: default;
}
#overview-week tbody td:first-child {
	cursor: default;
}
#overview-week tbody td .working-period {
	position: absolute;
	left: 0 !important;
	top: 0;
	display: block;
	width: 100%;
	background-color: #ddd;
	z-index: 100;
}

/* statistic blocks */
.overview-week-stat .well {
	padding: 10px;
}
.overview-week-stat .well p, .overview-week-stat .well h2 {
	margin: 0;
}

/* classes for day type coloring */
.day-working-day,
#overview-week tbody td.day-bg-working-day div {
	background-color: rgb(66, 139, 202);
}
.day-weekend,
#overview-week tbody td.day-bg-weekend div {
	background-color: rgb(91, 192, 222);
}
.day-holiday,
#overview-week tbody td.day-bg-holiday div {
	background-color: rgb(92, 184, 92);
}
.day-vacation,
#overview-week tbody td.day-bg-vacation div {
	background-color: rgb(236, 151, 31);
}
.day-bg-working-day {
	background-color: rgba(66, 139, 202, .2);
}
.day-bg-weekend {
	background-color: rgba(91, 192, 222, .2);
}
.day-bg-holiday {
	background-color: rgba(92, 184, 92, .2);
}
.day-bg-vacation {
	background-color: rgba(236, 151, 31, .2);
}